* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 20px;
  line-height: 1.4;
  font-family: sans-serif;
  font-size: 18px;
}

.container {
  border: 3px solid #444;
  width: 60%;
  margin: 0 auto;
}

.heading,
.details-title,
.shipping {
  text-transform: uppercase;
}

.heading {
  background-color: #ddd;
  text-align: center;
  padding: 10px 0;
}

.shipping {
  color: #444;
  font-size: smaller;
  font-weight: bolder;
  margin-bottom: 20px;
}

.details-title {
  margin-top: 30px;
}

.details-list {
  list-style: square;
  margin-left: 5%;
}

.details-list li {
  margin-bottom: 8px;
}

.price {
  font-size: larger;
}

.add-cart {
  font-size: 22px;
  background-color: #222;
  padding: 10px;
  color: #fff;
  border: none;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
}

.add-cart:hover {
  color: #222;
  background-color: #fff;
  border-top: 3px solid black;
}

.link-info:link,
.link-info:visited,
.link-info:active {
  color: #000;
}

.link-info:hover {
  text-decoration: none;
}
